<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Mis contactos</h1>
    <p class="lead">Gestiona de forma fácil la información de tus amigos y familiares </p>
  </div>
</div>